{% extends "::base.html.twig" %}

{% block title %}AppBundle:MainChartDataMSController:calculate{% endblock %}

{% block body %}
<h1>Welcome to the MainChartDataMSController:calculate page</h1>
{% endblock %}
