.st0 {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:black
}

.st1 {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:black
}

.st2 {
    fill:none;
}

.st3{
    fill:none;
    stroke:none
}

