/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-11-26, 20:42:11
    Author     : tomasz
*/

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:black}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:black}
.st2{fill:none;}
polygon {fill:none;stroke:red}
