#mapKey {
    height: 30vh;
    width: 2%;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    background-color: red;
    display: inline-block;
}

#mapChart {
    display: inline-block;
    width: 50%;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

#polska {
    display: inline;
    width: 100%;
    border-style: solid;
    border-color: green;
    border-width: 1px;
}

.mapKeyTitle {
    font-size: 20px;
}

#mapDetails {
    display: inline-block;
    border-style: solid;
    border-color: brown;
    border-width: 1px;
}

#loadingImage {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
    text-align: center;

}

#mapDetails {
    position: absolute;
}

#dateRange p {
    display: inline;
}
svg:hover #3204 {
    fill: rgba(0,0,0,1);
}

svg #3204 {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}