#mapKey {
    height: 30vh;
    width: 2%;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    background-color: red;
    display: inline-block;
}

#mapChart {
    display: inline-block;
    width: 50%;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

#polska {
    display: inline;
    width: 100%;
    border-style: solid;
    border-color: green;
    border-width: 1px;
}

.mapKeyTitle {
    font-size: 20px;
}

#mapDetails {
    display: inline-block;
    border-style: solid;
    border-color: brown;
    border-width: 1px;
}