#mapKey {
    height: 30vh;
    width: 2%;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    background-color: red;
    display: inline-block;
}

#mapChart {
    display: inline-block;
    width: 50%;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

#polska {
    display: inline;
    width: 100%;
    border-style: solid;
    border-color: green;
    border-width: 1px;
}

.mapKeyTitle {
    font-size: 20px;
}

#mapDetails {
    display: inline-block;
    border-style: solid;
    border-color: brown;
    border-width: 1px;
}

#loadingImage {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
    text-align: center;

}

#mapDetails {
    position: absolute;
}

#dateRange p {
    display: inline;
}


.st0 {
    transition: all 0.5s ease-out;

}

.st0:hover {
    fill: red;
    stroke-width: 3;
}

#cicleTest {


  transition: all 2s ease-out;
}

#cicleTest:hover {
  fill: pink;

  stroke-width: 10;
}

#test {
    transition: all 1s ease-out;
}

#test:hover {
    fill: pink;

  stroke-width: 10;
}
#tooltip {
    position: absolute;
}