{% extends "base.html.twig" %}

{% block title %}Input{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div id="inputForm"></div>
    <div id="slider-range">
        <p>
            <label for = "rangeDate">Zakres dat:</label>
            <input type = "text" id = "rangeDate" value = "1/2007 12/2007">
            <input type = "hidden" id = "hiddenRangeDate" value = "1/2007/12/2007">
            <button id ="submitCustomDates">Akceptuj</button>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mapChart/createInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/sendInputMapChart.js') }}"></script>
    <script>
        $(document).ready(function() {
            
            var input = [
                "YTD",
                "Rolling12",
                "QTD",
                "Rolling3",
                "Customize"
            ];
            createInputMapChart(input, "#slider-range", "/mapChart/slideRangeSource");
        });
    </script>

{% endblock %}
