{% extends "base.html.twig" %}

{% block title %}AppBundle:Teryt:getProvince{% endblock %}

{% block body %}
<h1>Welcome to the Teryt:getProvince page</h1>
<div id="regionPicker">
    <select id="provincePicker"></select>
    <select id="countyPicker"></select>
</div>
{% endblock %}
